{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">submit</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
        </small>
    </div>
</div>

{% endblock %}